################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/WebApi/.vs/WebApi
/WebApi/bin/Debug/net8.0
/WebApi/obj
/WebApi/obj/Debug/net8.0/ref/WebApi.dll
/WebApi.Tests.Integration
/WebApi.Tests.Unit
