.background-image {
  position: relative;
  background-image: url('./assets/background.jpg');
  background-size: cover;
  background-position: center;
  height: 100vh;
}

.background-gradient {
  background: linear-gradient(-45deg, #d56441, #c82d69, #1965c8, #0973a7);
  height: 100vh;
}

.background-dark {
  background-color: #000;
}

@keyframes gradient {
	0% {
		background-position: 0% 50%;
	}
	50% {
		background-position: 100% 50%;
	}
	100% {
		background-position: 0% 50%;
	}
}


.font-border {
  text-shadow: 
    -1px -1px 0px #000,
    0px -1px 0px #000,
    1px -1px 0px #000,
    -1px  0px 0px #000,
    1px  0px 0px #000,
    -1px  1px 0px #000,
    0px  1px 0px #000,
    1px  1px 0px #000;
}

.text-orange {
  color: rgb(255, 145, 0);
}

.video-player {
  height: 500px;
  width: 100%;
}

.btn-rectangular {
  border-radius: 0 !important;
}

.control-panel-list {
  max-height: 340px;
  overflow-y: auto;
}

.a-video {
  text-decoration: none;
}

.a-collapse {
  text-decoration: none;
  color: black;
}

.chat-message {
  overflow-wrap: break-word;
}

.queued-video {
  overflow-wrap: break-word;
}

.room-password {
  overflow-wrap: break-word;
}

.button-text {
  background: none;
  border: none;
  margin: 0;
  padding: 0;
  cursor: pointer;
  text-decoration: underline;
}

.main-menu-panel {
  height: 550px;
}

.main-menu-list {
  max-height: 320px;
  overflow-y: auto;
}

.available-element {
  cursor: pointer;
}

.unavailable-element {
  cursor: not-allowed;
}

.box-container {
  display: flex;
}
.box {
  flex: 1;
  display: flex;
  justify-content: center;
}

.box:first-child > span { margin-right: auto; }

.box:last-child  > span { margin-left: auto;  }

.box {
  align-items: center;
}

p {
  text-align: center;
  margin: 5px 0 0 0;
}

@media (max-width: 768px) {
  .mt-header {
    margin-top: 0.75rem;
  }
}
