.background-image {
  position: relative;
  background-image: url('./assets/background.jpg');
  background-size: cover;
  background-position: center;
  background-attachment: fixed; /* Optional for a fixed background */
  height: 100vh;
}

.font-border {
  text-shadow: 
    -1px -1px 0px #000,
    0px -1px 0px #000,
    1px -1px 0px #000,
    -1px  0px 0px #000,
    1px  0px 0px #000,
    -1px  1px 0px #000,
    0px  1px 0px #000,
    1px  1px 0px #000;
}

.video-player {
  height: 500px;
  width: 100%;
}

.btn-rectangular {
  border-radius: 0 !important;
}

.control-panel-list {
  max-height: 400px;
  overflow-y: auto;
}

.a-video {
  text-decoration: none;
}

.chat-message {
  overflow-wrap: break-word;
}

.room-password {
  overflow-wrap: break-word;
}

.button-text {
  background: none;
  border: none;
  margin: 0;
  padding: 0;
  cursor: pointer;
  text-decoration: underline;
}

.main-menu-panel {
  max-height: 600px;
}

.main-menu-list {
  max-height: 420px;
  overflow-y: auto;
}